[run]
branch = True
source = .
omit =
    tests/*
    validation/*
    .venv/*
    venv/*
    env/*
    .conda/*
    build/*
    dist/*
    __pycache__/*
    */site-packages/*

[report]
precision = 2
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    raise AssertionError
    raise NotImplementedError
